html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seating-chart {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#selectedNumber {
    font-size: 24px;
    font-weight: bold;
    color: #d9534f;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header {
    background-color: #a6ffad;
    color: black;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    border: 1px solid black;
    width: 75%;
    justify-content: center;
}

.table-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.number-table {
    border-collapse: collapse;
    width: auto;
    background-color: #ffffff;
}

.number-table th, .number-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.number-table th {
    background-color: #ffffff;
    color: black;
}

.man-selected {
    background-color: #a6ffad;
    color: black;
}

.woman-selected {
    background-color: #a6ffad;
    color: black;
}


