html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seating-chart {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#selectedNumber {
    font-size: 24px;
    font-weight: bold;
    color: #d9534f;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
